<h1>Angular State</h1>
<h2>Playground</h2>

<h3>Todos</h3>

<input
  type="text"
  placeholder="New Todo"
  #todoInput
  (keydown.enter)="addTodo(todoInput.value); todoInput.value = ''"
/>

@if (uncompletedTodos$().length > 0) {
  <h4>Open</h4>

  <ul>
    @for (todo of uncompletedTodos$(); track todo.id) {
      <li>
        <div>
          <span>{{ todo.description }}</span>
          <button (click)="completeTodo(todo)">Complete</button>
        </div>
      </li>
    } @empty {
      No uncompleted todos
    }
  </ul>
}

@if (completedTodos$().length > 0) {
  <h4>Completed</h4>

  <ul>
    @for (todo of completedTodos$(); track todo.id) {
      <li>
        <div>
          <span>{{ todo.description }}</span>
          <button (click)="completeTodo(todo)">Uncomplete</button>
        </div>
      </li>
    } @empty {
      No uncompleted todos
    }
  </ul>
}
